html {
  font-size: 100%;
}
body {
  color: color-font;
  font-family: font-default;
  text-shadow: 0 0 1px transparent;
}
a {
  text-decoration: none;
  color: color-link;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 65%;
  min-width: 18rem;
}
.banner .site-title {
  font-size: 3rem;
}
.banner .site-subtitle {
  padding-left: 1rem;
  font-size: 1rem;
}
