.article-inner {
  margin-top: 3rem;
}
.article-entry {
  margin-bottom: 3rem;
}
.article-header {
  border-left: 0.3rem solid color-meta;
  margin: 20px 0 10px;
  padding: 0 0 0 13px;
  text-align: left;
  color: color-meta;
}
.article-header .title {
  font-size: 2rem;
}
#article-nav-newer {
  float: left;
}
#article-nav-older {
  float: right;
}
.article-nav-link-wrap {
  font-size: 1.5rem;
}
#article-nav {
  margin-bottom: 8rem;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  box-sizing: content-box;
}
hr:before,
hr:after {
  box-sizing: border-box;
}
img {
  max-width: 100;
  height: auto;
  display: block;
  margin: auto;
}
