html {
  font-size: 100%;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font-size: 14px;
  color: #444;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0 0 1px transparent;
}
a {
  text-decoration: none;
  color: #0e83cd;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 65%;
  min-width: 18rem;
}
.banner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-flex-pack: justify;
  -moz-flex-pack: justify;
  flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
}
.banner .site-subtitle {
  font-size: 1rem;
}
.banner .banner-right {
  font-size: 1.5rem;
}
.banner .banner-item {
  margin-left: 0.3rem;
}
.archive_container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.archive_tip {
  font-size: 2rem;
  color: #0e83cd;
  border-left: 0.3rem solid #999;
  padding: 0 0 0 13px;
  margin-top: 3rem;
}
.category-count:before,
.archive-list-count:before {
  content: '(';
  padding-left: 0.3rem;
}
.category-count:after,
.archive-list-count:after {
  content: ')';
}
.archive_title {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.archive_title_padding {
  margin-top: -0.8rem;
  font-size: 1rem;
}
.archive_title_padding .archive_title_split {
  font-size: 1.5rem;
}
.archive_title_padding .archive_title_padding_item {
  margin-right: 0.5rem;
}
.archive_detail {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-flex-pack: justify;
  -moz-flex-pack: justify;
  flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.extend,
.page-number {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.archive_page {
  text-align: center;
  width: 100%;
}
.extend.prev {
  float: left;
}
.extend.next {
  float: right;
}
.article-inner {
  margin-top: 3rem;
}
.article-entry {
  margin-bottom: 4rem;
}
.article-header {
  border-left: 0.3rem solid #999;
  margin: 20px 0 10px;
  padding: 0 0 0 13px;
  text-align: left;
}
.article-header .title {
  font-size: 1.5rem;
}
#article-nav-newer {
  float: left;
}
#article-nav-older {
  float: right;
}
.article-nav-link-wrap {
  font-size: 1.5rem;
}
#article-nav {
  margin-bottom: 8rem;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
hr:before,
hr:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
.article-toc {
  border: none;
  border-left: 0.1rem solid #999;
  background-color: #fff;
  float: right;
  padding: 0 0 0 0.3rem;
  margin: 0 0 0 13px;
  text-align: left;
  width: 280px;
}
h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.1em;
}
footer {
  font-size: 1.5rem;
  margin-top: 2rem;
  float: left;
}
footer span {
  margin-left: 1rem;
}
ol code,
p code,
li code {
  display: inline;
  padding: 2px 4px;
  font-size: 90%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f9f2f4;
}
pre code {
  padding: 0.5em;
  font-size: 90%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 1px #e8e8eb;
  -moz-box-shadow: inset 0 0 0 1px #e8e8eb;
  box-shadow: inset 0 0 0 1px #e8e8eb;
  display: block;
  overflow: auto;
  background-color: #fff;
}
blockquote {
  border-left: 3px solid #999;
  margin: 20px 0 10px;
  padding: 0 0 0 13px;
  text-align: left;
}
