html {
  font-size: 100%;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: #444;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0 0 1px transparent;
}
a {
  text-decoration: none;
  color: #0e83cd;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 65%;
  min-width: 18rem;
}
.banner {
  font-size: 3rem;
}
.banner .site-subtitle {
  font-size: 1rem;
}
.archive_container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.archive_tip {
  font-size: 2rem;
  color: #0e83cd;
  border-left: 0.3rem solid #999;
  padding: 0 0 0 13px;
  margin-top: 3rem;
}
.category-count:before,
.archive-list-count:before {
  content: '(';
  padding-left: 0.3rem;
}
.category-count:after,
.archive-list-count:after {
  content: ')';
}
.archive_title {
  margin-top: 0.8rem;
  font-size: 2rem;
}
.archive_detail {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-flex-pack: justify;
  -moz-flex-pack: justify;
  flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.extend,
.page-number {
  font-size: 1.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.archive_page {
  text-align: center;
  width: 100%;
}
.extend.prev {
  float: left;
}
.extend.next {
  float: right;
}
.tag-link,
.category-link {
  margin-left: 0.3rem;
}
.article-inner {
  margin-top: 3rem;
}
.article-entry {
  margin-bottom: 3rem;
}
.article-header {
  border-left: 0.3rem solid #999;
  margin: 20px 0 10px;
  padding: 0 0 0 13px;
  text-align: left;
  color: #999;
}
.article-header .title {
  font-size: 2rem;
}
#article-nav-newer {
  float: left;
}
#article-nav-older {
  float: right;
}
.article-nav-link-wrap {
  font-size: 1.5rem;
}
#article-nav {
  margin-bottom: 8rem;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
hr:before,
hr:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
.article-toc {
  border: none;
  border-left: 0.3rem solid #999;
  background-color: #eee;
  float: right;
  padding: 1rem 1rem 1rem 1.5rem;
  margin: 0 0 0.5rem 2rem;
  text-align: left;
  width: 250px;
}
footer {
  font-size: 1.5rem;
  margin-top: 2rem;
  float: right;
}
footer span {
  margin-left: 1rem;
}
table,
tbody,
tr {
  width: 100%;
}
.highlight {
  margin-left: 1rem;
  margin-right: 1rem;
}
pre code {
  white-space: pre !important;
  white-space: pre-wrap;
  word-wrap: break-word;
}
blockquote {
  border-left: 3px solid #999;
  margin: 20px 0 10px;
  padding: 0 0 0 13px;
  text-align: left;
}
